@page
@model DeleteModel
@{
    ViewData["Title"] = "Data Created!";
}

<br />
<br />
<br />

<h1>The entered data has been removed to MySQL Database</h1>

<style>
    body {
        background-image: url('Images/bg.jpeg');
        font-size: 12pt;
        margin: 0;
        padding: 0;
    }
</style>